.content-asset-carousels-sync {
    display: flex;
    flex-direction: column;
}
.first-carousel,
.second-carousel {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.slick-slider img {
    margin: auto;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}
